@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: full;
    background-color: lightgray;
    margin: 0%;
}
main {
    background-color: white;
    margin:auto;

    min-width: 300px;
    max-width: 800px;
}
main > h1 {
    background-color: rgb(77, 77, 77);
    color: white;
    margin: 0%;
    padding: 5px 30px 5px 30px;
    text-align: center;
}
main > picture > h1{
    text-align: center;
}

main > h2 {
    text-align: right;
    padding: 10px 20px 10px;
}
header > h1 {
    background-color: rgb(77, 77, 77);
    color: white;
    margin: 0%;
    padding: 5px 30px 5px 30px;
    text-align: center;
}
article > h2 {
    text-align: center;
}
article > p {
    text-align: center;
    padding: 10px;
}

footer {
    background-color: darkgrey;
    margin-top: 0%;
}
footer > h3 {
    background-color: rgb(77, 77, 77);
    color: white;
    margin: 0%;
    padding: 5px 20px 5px 20px;
}
footer > ul {
    padding: 5px 20px 5px 20px;
}